*{
    margin: 0;
    padding: 0;
}

html,body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

button{
    cursor: pointer;
}

.calculator{
    background-color: white;
    height: 30vh;
}

#display{
    height: 15%;
}
